/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.main-container {
  padding: 3%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-2 {
  gap: 0.5rem; /* 8px */
}

.col-sm-4 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-4 {
    width: 33.3333%;
    padding: 0 1rem 1rem 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}
