<p-card class="shadow-lg p-4 rounded-lg">
  <div class="row g-3 justify-content-center">
    <!-- Produtos -->
    <div class="col-sm-4">
      <app-card
        link="/produtos-gerenciamento"
        title="Produtos"
        description="Gerencie seus produtos de forma eficiente."
        color="#bef264"
        icon="pi pi-box"
      ></app-card>
    </div>

    <!-- Fornecedores -->
    <div class="col-sm-4">
      <app-card
        link="/fornecedores-gerenciamento"
        title="Fornecedores"
        description="Gerencie seus fornecedores com facilidade."
        color="#fde047"
        icon="pi pi-users"
      ></app-card>
      <!--  <p-card
        class="text-center"
        routerLink="/fornecedores-gerenciamento"
        [style]="{
          'background-color': '#fde047',
          color: 'white',
          transform: 'translateY(-5px)',
          'box-shadow': '0px 10px 20px rgba(0, 0, 0, 0.15)',
          cursor: 'pointer',
        }"
      >
        <ng-template pTemplate="header">
          <div class="icon-container">
            <i class="pi pi-users fs-2 text-white"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="title"> Fornecedores </ng-template>
        <ng-template pTemplate="content">
          <p>Gerencie seus fornecedores com facilidade.</p>
        </ng-template>
      </p-card> -->
    </div>

    <!-- Notas Fiscais -->
    <div class="col-sm-4">
      <app-card
        link="/notas-fiscais-gerenciamento"
        title="Notas Fiscais"
        description="Controle suas notas fiscais e registros financeiros."
        color="#5eead4"
        icon="pi pi-file"
      ></app-card>
    </div>
  </div>
</p-card>
