<p-card class="shadow-lg p-4 rounded-lg">
  <div class="row g-3 justify-content-center">
    <!-- Produtos -->
    <div class="col-sm-4">
      <app-card
        link="/produtos-gerenciamento"
        title="Produtos"
        description="Gerencie seus produtos de forma eficiente."
        color="#bef264"
        icon="pi pi-box"
      ></app-card>
    </div>

    <!-- Fornecedores -->
    <div class="col-sm-4">
      <app-card
        link="/fornecedores-gerenciamento"
        title="Fornecedores"
        description="Gerencie seus fornecedores com facilidade."
        color="#fde047"
        icon="pi pi-users"
      ></app-card>
    </div>

    <!-- Notas Fiscais -->
    <div class="col-sm-4">
      <app-card
        link="/notas-fiscais-gerenciamento"
        title="Notas Fiscais"
        description="Controle suas notas fiscais."
        color="#5eead4"
        icon="pi pi-file"
      ></app-card>
    </div>
  </div>
</p-card>
